body {
    color: lightseagreen;
    background-color: aquamarine;
    font-family: fantasy, serif;
}

.h2, h2 {
    font-size: 2rem;
    background-color: lightcyan;
    padding: 1rem 0 .5rem .75rem;
    border-bottom: solid .25rem;
}

a {
    color: lightseagreen;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color:aquamarine;
}

.content {
    margin: 2rem 0rem;
    background-color: lightcyan;
    padding: 2rem;
    width: 100%;
    border: solid .25rem lightseagreen;
}

#input-box {
    width: 100%;
    color: lightseagreen;
    background-color: aquamarine;
    padding: .5rem .25rem 0 .25rem;
    border: solid .25rem lightseagreen;
}

#slide {
    width: 100%;
    margin-top: .5rem;
}

#slide-value {
    margin-top: .5rem;
    margin-bottom: -.5rem;
}

#generate-btn, #copy-btn {
    background-color: aquamarine;
    color:lightseagreen;
    padding: .5rem .25rem 0 .25rem;
    border: solid .25rem lightseagreen;
}



